
# Misc
.DS_Store
.github
**/.DS_Store
nbproject
manifest.mf
build.xml
node_modules/*
npm-debug.log
npm-debug.log.*
Thumbs.db
coverage
*.ts
!*.d.ts
tests
*.spec.*
*.test.*

# IDE
.idea
.project
.settings
.vscode
.idea/*
*.iml

# Misc Project
*.yml
demo
karma*
typings
tsconfig.json
tslint.json
typings.json
