<h1>Odometer for Angular2</h1>
<p><ng2-odometer [number]="3000" [observable]="observable" [theme]="'default'"></ng2-odometer></p>
<p><ng2-odometer [number]="3000" [observable]="observable" [theme]="'minimal'"></ng2-odometer></p>
<p><ng2-odometer [number]="3000" [observable]="observable" [theme]="'car'"></ng2-odometer></p>
<p><ng2-odometer [number]="3000" [observable]="observable" [theme]="'plaza'"></ng2-odometer></p>
<p><ng2-odometer [number]="3000" [observable]="observable" [theme]="'slot-machine'"></ng2-odometer></p>
<p><ng2-odometer [number]="3000" [observable]="observable" [theme]="'train-station'"></ng2-odometer></p>
<p><ng2-odometer [number]="3000" [observable]="observable" [theme]="'digital'"></ng2-odometer></p>
<p><button (click)="trigger()">Trigger</button></p>
