<h1>Odometer for Angular2</h1>
<p><ng2-odometer [number]="number" [theme]="'default'"></ng2-odometer></p> <!-- this trigger right away -->
<p><ng2-odometer [number]="2000" [config]="{ auto: false }" [observable]="observable" [theme]="'default'"></ng2-odometer></p>
<p><ng2-odometer [number]="2000" [config]="{ auto: false }" [observable]="observable" [theme]="'minimal'"></ng2-odometer></p>
<p><ng2-odometer [number]="2000" [config]="{ auto: false }" [observable]="observable" [theme]="'car'"></ng2-odometer></p>
<p><ng2-odometer [number]="2000" [config]="{ auto: false }" [observable]="observable" [theme]="'plaza'"></ng2-odometer></p>
<p><ng2-odometer [number]="2000" [config]="{ auto: false }" [observable]="observable" [theme]="'slot-machine'"></ng2-odometer></p>
<p><ng2-odometer [number]="2000" [config]="{ auto: false }" [observable]="observable" [theme]="'train-station'"></ng2-odometer></p>
<p><ng2-odometer [number]="2000" [config]="{ auto: false }" [observable]="observable" [theme]="'digital'"></ng2-odometer></p>
<p><button (click)="trigger()">Trigger</button></p>
